
.campaign-help {

    color: #0f1d28;
    width: 100%;
    position: relative;
    float: right;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
    height: 110px;
    font-size: 17px;
}

.campaign-header {
    width: 100%;
    position: relative;
    text-align: center;
}

.campaign-header i {
    position: absolute;
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
    right: 5px;
    top: 5px;
}

.campaign-header h4 {
    background: #00549d;
    color: #ffffff;

    height: 35px;
    line-height: 32px;
}

.fb-cm-column {
    background: rgba(255, 255, 255, 0.85);
    padding-top: 15px;
    padding-bottom: 15px;
}

#landing-page {
    border-top: 1px solid #bff2f2;
    background: #fff url(../images/patterns/pattern2.png) repeat;
}

.fb-demo-ad {
    border: 1px solid #00549d;
    padding: 15px;
    min-height: 250px;
}

.users-container {
    position: relative;
    width: 100%;
    text-align: center;

}

.user-match {
    position: relative;
    float: right;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.user-match:before {
    position: absolute;
    top: -20px;
    content: '';
    height: 20px;
    width: 4px;
    left: 50%;
    background: #00549d;
}

.fb-c-line {
    display: none;
    height: 5px;
    position: fixed;
    background: #00549d;
}

.user-match:after {
    position: absolute;
    bottom: -20px;
    content: '';
    height: 20px;
    width: 4px;
    left: 50%;
    background: #00549d;
}

.database {
    display: inline-block;
    clear: both;
    font-size: 17px;
    border-bottom: 1px dashed;
    margin-bottom: 10px;
}

.active-user {
    border: 1px solid #00549d;
}

.user-match span {
    background: #00549d;
    border-radius: 5px;
    color: #ffffff;
    width: 120px;
    display: inline-block;
}

.users-container span {
    width: 33%;
    font-size: 40px;
    float: right;
    color: #C2C2C2;

}

.users-container .active {
    color: #00549d;
    font-size: 50px;

}

.fb-demo-ad-title {
    color: #00549d;
}

.job-metric-number {

}

.vertical-line {
    display: inline-block;
    margin-left: 4px;
    margin-right: 12px;
    height: 15px;
    top: 3px;
    width: 1px;
    background: #4a6270;
    position: relative;
    float: right;
}

.fb-demo-ad-content {
    height: 37px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: 5px;
}

.fb-demo-ad img {
    max-width: 100%;
}

.campaign-content {
    position: relative;
    width: 100%;
    margin-top: 70px;
}

.fb-c-contact-us {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}

.fb-target-header {
    max-width: 200px;
    margin-right: auto;
    margin-left: auto;
}
