@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400);
@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);
* { font-family: 'Roboto', "Alef Hebrew"; font-weight : 300; } 

body {

    background-color: #f2f2f2;
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background-color: #fff; 
    background-image: 
        linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
        linear-gradient(#eee .1em, transparent .1em);
        background-size: 100% 1.2em;
}


#logo {

height: 40px;
margin-top: -19px;
margin-left: 7px;

}

.navbar {
   background:rgba(0,0,0,0.5);   /* for latest browsers */
   background: #000;  /* fallback for older browsers */
}

.pdl0 {
	padding-left:0;
}

.pdr0 {
	padding-right:0;
}

 /*-------------------------------------*/
    
 /*=======================================
     GENERAL STYLES
 ==================================================*/
  
 
 .text-center {
     text-align:center;
 }
 
 .top-pad {
     padding-top:70px;
 }
 .top-margin {
     margin-top:40px;
 }
 
 h1, h2, h3, h4, h5, h6 {
     font-family: 'Roboto', "Alef Hebrew"; font-weight : 300;
     color:rgb(89,54,47);
 }
 .green-color {
     color: rgb(89,54,47);
 }

 .pink-color {
     color: #fff;
 }
 h1 {
    
     font-weight:700;
     font-size:50px;
    
 }
 
 p {
     font-weight:400;
     line-height:29px;
     padding-bottom:50px;
 }
 .margin-bot {
     margin-bottom:50px;
 }

 
hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
  border-top: dashed 2px #d83c3c;
 
}

.font-default {color: #d83c3c;}

.bgcolor-white {background:#fff;}

/*!
 * Bootstrap Modal
 *
 * Copyright Jordan Schroter
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Boostrap 3 patch for for bootstrap-modal. Include BEFORE bootstrap-modal.css!
 */

body.modal-open, 
.modal-open .navbar-fixed-top, 
.modal-open .navbar-fixed-bottom {
  margin-right: 0;
}

.modal {
  left: 50%;
  bottom: auto;
  right: auto;
  padding: 0;
  width: 500px;
  margin-left: -250px;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
}

.modal.container {
  max-width: none;
}
    