extends layout-admin	

block css-admin

block content
 .container
  .row(style="padding-top:100px;")
   .col-xs-12.textcenter.well
    h3.pdl10 שלום #{user.name}
     img.pdr10(src="#{user.photo}")
    h4
     a(style="text-decoration: underline;")(href="/logout") התנתק
      i.pdr10.fa.fa-logout
  
 
block jsfiles-admin
 

