extends layout-admin	

block css

block content
 .container
  .row(style="padding-top:100px;")
   .col-xs-12.text-center.well
    h3	כניסה לאדמין
    h4
     a(style="text-decoration: underline;")(href="/auth/facebook") התחבר עם פייסבוק
      i.pdr10.fa.fa-facebook
 
 
 
block jsfiles
 


