script(src="/js/jquery-1.11.1.min.js" type="text/javascript")
script(src="/js/bootstrap.min.js")
script(src="/js/jquery.bootstrap.newsbox.min.js" type="text/javascript")
script(src="/js/bootstrap-table.js" type="text/javascript")
script(src="/js/bootstrap-select.js" type="text/javascript")
script(src="/js/bootstrap-modalmanager.js")
script(src="/js/bootstrap-modal.js")
script(src="/js/jquery.cookie.js")
script(src="/js/jquery.ajaxchimp.js")
script(src="/js/jquery.serializejson.min.js")
script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js")
script(src="/js/admin/app.js")

