doctype html
html(lang="he")
  head
    title= title
    meta(charset='utf-8')
    meta(ttp-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='בונים בית|תגלו לפרטי פרטים את כל תהליכי הבנייה והעלויות האמיתיות לבניית הבית שלכם כולל המלצות על קבלנים')
    meta(name='author', content='בונים בית')
    meta(content='heYNdq8K3Gh3KbplVevs1_VCauayRUGO6fodmFuwL7I' name='google-site-verification')
    link(rel="shortcut icon" href="http://faviconist.com/icons/2c04dc877c331d51dc497a7a584dccac/favicon.ico")

    include cssfiles-admin
    block css-admin
    //- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries 
    //- WARNING: Respond.js doesn't work if you view the page via file:// 
    //[if lt IE 9]
    script(src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.2.0/respond.js")
    //[endif]
    
  //-
  body.skin-blue(ng-app="Admin" )

    script(src='/js/google_analytics.js')
    include navbar
    .fb-root
    block content
    include footer
    include jsfiles-admin
    block jsfiles-admin
    script(type='text/ng-template' id="home.html" )
     container
      //-h3.page-header.text-center רשימת קבלנים
      div(style="padding-top:10px;")
      .row.text-right(style="margin-left:10px;margin-bottom:10px;")
       col-md-12
        select.custom.btn.btn-default.btn-md( ng-model="contractor_types_search" ng-options=" i.label as i.label  for i in contractor_types_data" )
         option(value="") סנן לפי סוג קבלן
        select.custom.btn.btn-default.btn-md( ng-model="contractor_areas_search" ng-options=" i.id as i.label  for i in areas_data" )
         option(value="") סנן לפי אזור
        
        select.custom(style=";margin-left: 5px;" ng-model="search_status" ).btn.btn-default.btn-lg 
         option(value='')  סנן לפי סטטוס קבלן 
         option(value='1111') רק הוכנס
         option(value='2222') ממתין
         option(value='3333') פעיל
         option(valuen='4444') ממתין לממליצים מהקבלן
         option(value='5555') עדיין לא נוצר קשר עם הקבלן
         option(value='6666') הקבלן ביקש לחזור אליו
         option(value='7777') הקבלן אמור להתקשר להמשך הטיפול
        button(href="#addcontractor" data-toggle="modal" style="margin-top:10px;float:left").btn.btn-default הוסף קבלן חדש&nbsp;
         i.fa.fa-plus
        input(placeholder="חפש במסמך" ng-model="search.$" style="margin-top:10px;margin-left:5px;").btn.btn-default 

      .row.well.well_add_gray.text-center.hidden-xs
       .col-xs-6.col-md-1 שם איש קשר  
       .col-xs-6.col-md-1 שם חברה
       .col-xs-6.col-md-2 אימייל 
       .col-xs-6.col-md-1 טלפון
       .col-xs-6.col-md-2 כתובת
       .col-xs-6.col-md-1 אזורים
       .col-xs-6.col-md-1 המלצות
       .col-xs-6.col-md-1 לידים
       .col-xs-6.col-md-1 סטטוס
       .col-xs-6.col-md-1 סוג קבלן

      .row(ng-repeat="contractor in contractors | filter:search:strict | filter:search_status |  filter:contractor_types_search | filter:contractor_areas_search" style="color:#000;font-size:16px;").well.well_no_bacground.text-center
       
       .col-xs-6.col-md-1
        a(href="#/contractor/{{contractor._id}}") {{contractor.name}} 
        
       .col-xs-6.col-md-1 {{contractor.company_name}}
       .col-xs-6.col-md-2.small
        a(ng-show="contractor.email" href="mailto:{{contractor.email}}") {{contractor.email}}
        span(ng-hide="contractor.email") -
       .col-xs-6.col-md-1 
        small {{contractor.phone}}
       .col-xs-6.col-md-2 
        small {{contractor.address}}
       .col-xs-6.col-md-1
       
        select.btn.btn-default.btn-md(ng-show="contractor.areas" ng-model="contractor.areas" ng-options=" i.id as i.id  for i in contractor.areas" )
          option(value="") {{contractor.areas.length}} אזורים
       .col-xs-6.col-md-1.small {{contractor.comments.length}}
       .col-xs-6.col-md-1.small {{contractor.forwards.length}}
       .col-xs-6.col-md-1.small(ng-switch on="contractor.status.toString()")
         span(ng-switch-when='1111') רק הוכנס
         span(ng-switch-when='2222') ממתין
         span(ng-switch-when='3333') פעיל
         span(ng-switch-when='4444') ממתין לממליצים מהקבלן
         span(ng-switch-when='5555') עדיין לא נוצר קשר עם הקבלן
         span(ng-switch-when='6666') הקבלן ביקש לחזור אליו
         span(ng-switch-when='7777') הקבלן אמור להתקשר להמשך הטיפול
      
    
       .col-xs-6.col-md-1.small         
        select.btn.btn-default.btn-md(ng-show="contractor.contractor_types" ng-model="contractor.contractor_types" ng-options=" i.id as i.id  for i in contractor.contractor_types" )
         option(value="") סוג הקבלן
       div.ng-hide
        textarea(rows="4" cols="50" dir="rtl"  ng-model="contractor.comment")
     include addcontractor

    script(type="text/ng-template" id="/contractor.html" ng-model="Contractor")
     container

      //-h3.page-header.text-center רשימת קבלנים
      div
      .row.text-left(style="margin-left:10px;margin-bottom:10px;")
       col-md-12
        span#message(style="display:none")
         a.btn.btn-info( href="javascript:void(0)" style="margin-top:10px;margin-left:10px" data-dismiss='alert') x
          small העדכון בוצע בהצלחה 
        button.btn.btn-default(style="margin-top:10px;margin-left:10px" type="submit" ng-click="updateContractor()") שמור&nbsp;
         i.fa.fa-save
        a(href="#"  style="margin-top:10px").btn.btn-default חזור לקבלנים&nbsp;
         i.fa.fa-backward
        
        
      form
       
       .row
        .col-md-1 
         שם איש קשר
        .col-md-4
         input(dir="rtl" type="text" required  ng-model="contractor.name").form-control.input-md 
        .col-md-7
       .row
        .col-md-1 
         שם חברה
        .col-md-4
         input(dir="rtl" type="text" required  ng-model="contractor.company_name").form-control.input-md 
        .col-md-7
       .row
        .col-md-1 
         אימייל
        .col-md-4
         input(dir="ltr" type="email"  ng-model="contractor.email").form-control.input-md 
        .col-md-7
       .row
        .col-md-1 
         טלפון
        .col-md-4
         input(dir="ltr" type="text" required id="phone" name="phone" ng-model="contractor.phone").form-control.input-md 
        .col-md-7
       .row
        .col-md-1 
         כתובת
        .col-md-4
         input(dir="rtl" type="text" required id="name" name="name" ng-model="contractor.address").form-control.input-md 
        .col-md-7
       .row
        .col-md-1 
         הערות
        .col-md-4
         textarea(rows="4" cols="50" dir="rtl"  ng-model="contractor.comment").form-control.input-md 
        .col-md-7
       .row
        .col-md-1 
         לידים
        .col-md-4
         a(ng-if="contractor.forwards.length>0" href="" style="width:100%").btn.btn-info המלצות הועברו ל {{contractor.forwards.length}} בונים
          i.fa.fa-plus(style="padding-right:4px;") 
         span(ng-if="contractor.forwards.length==0" style="width:100%").btn.btn-danger עדיין לא הועבר לבונים
          i.fa.fa-meh-o(style="padding-right:4px;") 
        .col-md-7
       .row
        .col-md-1 
         המלצות
        .col-md-4 
         a(ng-if="contractor.feedbacks.length>0" href="" style="width:100%").btn.btn-info התקבלו  {{contractor.comments.length}} המלצות
          i.fa.fa-plus(style="padding-right:4px;") 
         span(ng-if="contractor.feedbacks.length==0" style="width:100%").btn.btn-danger אין המלצות עדיין, הוסף
          i.fa.fa-plus(style="padding-right:4px;") 
        .col-md-7
       .row
        .col-md-1 
         סטטוס
        .col-md-4
        
         select.btn.btn-default.btn-md(style="width:100%" ng-model="contractor.status" ng-options=" i.value as i.name  for i in contractor_status" )
        .col-md-7
       .row
        .col-md-1 
         אזורים
        .col-md-1
         div(ng-dropdown-multiselect="" options="areas_data" selected-model="contractor.areas" translation-texts="areas_customTexts")
        .col-md-10.text-right(style="padding-top:8px;")
         span.text-right(ng-repeat="area  in contractor.areas") &nbsp;{{area.id}},&nbsp;
       
       .row
        .col-md-1 
         שיטת תשלום
        .col-md-4
         //-div {{contractor.status}}
         select.btn.btn-default.btn-md(style="width:100%" ng-model="contractor.payment_method" ng-options=" i.value as i.name  for i in [{value:1, name:'חודש בחודשו'},{value:2, name:'פר דיל 2%'},{value:3, name:'פר דיל 3%'},{value:4, name:'פר דיל 4%'},{value:5, name:'פר דיל 5%'}]" )
        .col-md-7
       .row
        .col-md-1 
         סוג קבלן
        .col-md-1
         div(ng-dropdown-multiselect="" options="contractor_types_data" selected-model="contractor.contractor_types" translation-texts="types_customtexts")
        .col-md-10.text-right(style="padding-top:8px;")
         span.text-right(ng-repeat="contractor_types  in contractor.contractor_types") &nbsp;{{contractor_types.id}},&nbsp;
       
       .row
        .col-md-1 
         עורך אחרון
        .col-md-4
         //-div {{contractor.status}}
         {{contractor.last_editor}} at: 
         small {{contractor.last_edit_time | date:'medium'}}
        .col-md-7
       .row
        .col-md-1 
          הוכנס בתאריך
        .col-md-4
        
        
         small {{contractor.date_created| date:'medium'}}
        .col-md-7
       
         
        .col-md-7
       .row(style="padding-top:20px")
        .col-md-1 
        
    
    
      //- .row.well.well_add_gray.text-center
      //-  .col-md-6.col-md-1 שם קבלן
      //-  .col-md-6.col-md-1 שם חברה
      //-  .col-md-6.col-md-2 אימייל 
      //-  .col-md-6.col-md-1 טלפון
      //-  .col-md-6.col-md-2 כתובת
      //-  .col-md-6.col-md-1 אזורים
      //-  .col-md-6.col-md-1 המלצות
      //-  .col-md-6.col-md-1 לידים
      //-  .col-md-6.col-md-1 סטטוס
      //-  .col-md-6.col-md-1 התווסף ב
    








