link(href="/css/bootstrap3.2.0.min.css" rel="stylesheet")
link(rel="stylesheet" href="/css/bootstrap-rtl.css" type="text/css" media="screen")
link(href="/css/bootstrap-table.css" ,rel="stylesheet")
link(href="/css/custom.css?v=2" rel="stylesheet")
link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
link(rel="stylesheet", href="/css/responsive.css" ,type="text/css", media="screen")
link(rel="stylesheet", href="/css/campaign.css", type="text/css" ,media="screen")
link(rel="stylesheet", href="/css/bootstrap-modal-bs3patch.css" ,type="text/css" ,media="screen")
link(rel="stylesheet", href="/css/bootstrap-modal.css" ,type="text/css", media="screen") 