div(tabindex="-1" data-width="760")#fb-back.container.modal.fade
 .page-header
  h3.textcenter.font-default הרבה מידע על בניית הבית דרך הפסיבוק. לחצו לייק להיות מעודכנים
   i.social_icon.fa.fa-heart.pdr10 
  br
  

  div.col-12-lg.fb-like.pdr10.hidden-xs.pdb40.hidden-sm(style="position: absolute;left: 50%;margin-left: -100px;" data-href='https://facebook.com/bonimbayit', data-layout='button_count', data-action='like', data-show-faces='false', data-share='false')
  br
  a(data-dismiss="modal" href="#")
   p(style="position: absolute;left: 50%;margin-left: -100px;") או סיגרו את החלון X
  br

  
 
  

  


   

   


  

  
     
    
   
   
   