div(tabindex="-1" data-width="460")#fb-back.container.modal.fade
 .page-header
  h1.textcenter.font-default כל העדכונים על בניית הבית שלכם דרך הפייסבוק 
   i.social_icon.fa.fa-heart 
  .fb-like.pdr20.hidden-xs.hidden-sm(data-href="https://www.facebook.com/bonimbayit", data-layout="button_count", data-action="like", data-show-faces="true", data-share="false")
  

   

   


  

  
     
    
   
   
   