.container#filecost
 .row.pdt30
 form
  .col-md-5.col-sm-12.construction-report-img
   img(src="/img/construction-report.png" alt="קבל את קובץ עלויות בניה חינם" title="קבל את קובץ עלויות בניה חינם")
  .col-md-7.col-sm-12
   section
    .row
     div
      h2 הצטרפ\י לקהילת הבונים וקבל דוח עלויות בניה לדואל שלך
      h3 עשרות אלפים הורידו והשתמשו
     .well
      .row
       .col-md-6
        input.search-query(placeholder="  דואל (לא נשתמש בו למטרה אחרת)     " required)
       .col-md-6
        button.btn-submit(type="submit") קבל חינם

                       
                 