extends layout	

block css
 link(href="/css/business-frontpage.css" rel="stylesheet")

block content
 .container
  .row(style="padding-top:100px;")
   .col-xs-12.textcenter.well
    h3	תודה שאישרתם, להורדת דוח עלויות הבניה אנא לחצו על המקש הימיני ושמור בשם..
    h4
     a(href="https://www.dropbox.com/s/ci1cc7r657z8xon/bonimbayit.8.xlsx?dl=1") קובץ עלויות בניה להורדה
      i.pdr10.fa.fa-file-excel-o
 include frontpage-content
 
 
block jsfiles
 script(src="/js/front-page.js")


