footer
 
 .container.visible-lg
  .row.pdt40.pdb10
   hr.visible-lg
   br.visible-lg
   .col-lg-3.visible-lg.text-center
    poll#pool1
     script(type='text/javascript', src='http://www.easypolls.net/ext/scripts/emPoll.js?p=53a2116be4b0fb42190cb76d' )
     a.OPP-powered-by(href='https://www.murvey.com', style='text-decoration: none;')
   .col-lg-3.visible-lg.text-center
    poll
     script(type='text/javascript', src='http://www.easypolls.net/ext/scripts/emPoll.js?p=54003c57e4b0b67376448589')
     a.OPP-powered-by(href='https://www.easypolls.net/', style='text-decoration: none;')
     br
     script(type='text/javascript', src='http://www.easypolls.net/ext/scripts/emPoll.js?p=53a20eefe4b0fb42190cb764')
     a.OPP-powered-by(href='http://www.objectplanet.com/opinio/', style='text-decoration: none;')
   .col-lg-3.visible-lg.text-center
    script(type='text/javascript', src='http://www.easypolls.net/ext/scripts/emPoll.js?p=53a20f4ae4b0fb42190cb766')
    a.OPP-powered-by(href='https://www.murvey.com', style='text-decoration: none;')
    br
    br
   .col-lg-3.visible-lg.text-center
    h4.pdt0(style="margin-top:-10px;") בואו יחד נלווה את לימור בתהליך הבנייה שלה , הכל בזמן אמת באינסטגרם
    a(href="/blog/insta-gram-bomm/") &nbsp;למד איך לעקוב פה
    br
    br
    iframe(src='http://widget.websta.me/in/bonimbayit.limor/?s=50&w=2&h=3&b=1&p=5', allowtransparency='true', frameborder='0', scrolling='no', style='border: none; overflow: hidden; width: 130px; height: 195px;', align='right')
 br  
 
 .container
  hr
  .row.text-center
   .col-md-12.animate(data-animate="bounceInUp")
    a(id="top" class="back-top" href="3" title="" aria-hidden="true" data-icon="&#x32;")
    h1.logo בונים בית
    aside(id="sparkling-social-2" class="widget sparkling-social")
    h3.widget-title זקוק\ה להתייעצות? אנחנו בכל המקומות שצריך עם עזרה מכל ה 
     i.social_icon.fa.fa-heart
    br
    //- >>  social icons <<
    .social-icons
     .social-icons
      a.facebook(href="https://www.facebook.com/bonimbayit" title="Follow us on Facebok"  target="_blank")
       i.social_icon.fa.fa-facebook
      a.twitter(href="https://www.twitter.com/bonimbayit" title="זקוקים ליעוץ? אנחנו בטוויטר"  target="_blank")
       i.social_icon.fa.fa-twitter
      a.googleplus(href="https://www.googleplus.com/bonimbayit" title="זקוקים ליעוץ? אנחנו בגוגל פלוס"  target="_blank")
       i.social_icon.fa.fa-googleplus
      a.youtube(href="https://www.youtube.com/bonimbayit" title="זקוקים ליעוץ? אנחנו ביוטיוב" target="_blank")
       i.social_icon.fa.fa-youtube
      a.pinterest(href="https://www.pinterest.com/bonimbayit" title="זקוקים ליעוץ? אנחנו בפינטרסט" class="pinterest" target="_blank")
       i.social_icon.fa.fa-pinterest
     
     //-contact form & footer
//===============================================
section#contact.pdt40
 .container                
  .row
   .col-md-12(data-animate="flipInY")
    div#contactform
     form#contactformfooter(role="form" data-toggle="validator")
      .row
       .col-md-4
        input#c-name.form-control(required type="text" name="name" class="" placeholder="שם מלא")
       .col-md-4
        input#c-mail.form-control(required type="text" name="email"  placeholder="אימייל")
       .col-md-4           
        input#c-phone.form-control(type="text" name="phone" required placeholder="מספר טלפון")
      .row
       .col-md-12
        textarea.form-control(required name="message" id="c-freetext" rows="5" placeholder="טקסט חופשי")
      .row
       .col-md-4.col-md-push-8.send-div.alignleft                         
        br
        button#send-btn.btn-submit(style="float:left" type="submit") שלח
      .row
       .col-md-4.col-md-push-8.pdl10.pdr.alignleft#c-msg 
        
  .row
   .success-message-2

     .container.text-center
      .row
       hr
       .col-lg-12
        .col-md-2
         ul.nav.nav-pills.nav-stacked
          li
           a(href="#") אושות בונים בית
          li
           a(href="#") מדריך הבניה השלם
        .col-md-2
         ul.nav.nav-pills.nav-stacked
          li
           a(href="#") אושות בונים בית
          li
           a(href="#") מדריך הבניה השלם
        .col-md-2
         ul.nav.nav-pills.nav-stacked
          li
           a(href="#") אושות בונים בית
          li
           a(href="#") מדריך הבניה השלם
        .col-md-2
         ul.nav.nav-pills.nav-stacked
          li
           a(href="#") אושות בונים בית
          li
           a(href="#") מדריך הבניה השלם
        .col-md-4
         div.fb-like-box.pdl20(data-href='https://facebook.com/bonimbayit', data-colorscheme='light', data-show-faces='true', data-header='false', data-stream='false', data-show-border='false')

       
      .row
       hr
       .col-lg-12
        
        br
        p כל הזכויות שמורות &#169; 2014
         a.pdr10(href="#") בונים בית 
    