footer
 .container
  hr
  .row.text-center
   .col-md-12.animate(data-animate="bounceInUp")
    a(id="top" class="back-top" href="3" title="" aria-hidden="true" data-icon="&#x32;")
    h1.logo בונים בית
    aside(id="sparkling-social-2" class="widget sparkling-social")
    h3.widget-title זקוק\ה להתייעצות? אנחנו בכל המקומות שצריך עם עזרה מכל ה 
     i.social_icon.fa.fa-heart
    br
    //- >>  social icons <<
    .social-icons
     .social-icons
      a.facebook(href="https://www.facebook.com/bonimbayit" title="Follow us on Facebok"  target="_blank")
       i.social_icon.fa.fa-facebook
      a.twitter(href="https://www.twitter.com/bonimbayit" title="זקוקים ליעוץ? אנחנו בטוויטר"  target="_blank")
       i.social_icon.fa.fa-twitter
      a.googleplus(href="https://www.googleplus.com/bonimbayit" title="זקוקים ליעוץ? אנחנו בגוגל פלוס"  target="_blank")
       i.social_icon.fa.fa-googleplus
      a.youtube(href="https://www.youtube.com/bonimbayit" title="זקוקים ליעוץ? אנחנו ביוטיוב" target="_blank")
       i.social_icon.fa.fa-youtube
      a.pinterest(href="https://www.pinterest.com/bonimbayit" title="זקוקים ליעוץ? אנחנו בפינטרסט" class="pinterest" target="_blank")
       i.social_icon.fa.fa-pinterest
    
    





    
     
     //-contact form & footer
//===============================================
section#contact.pdt40
 .container                
  .row
   .col-md-12(data-animate="flipInY")
    div#contactform
     form
      .row
       .col-md-4
        input#c-name.form-control(required type="text" name="name" class="" placeholder="שם")
       .col-md-4
        input#c-mail.form-control(required type="text" name="email"  placeholder="אימייל")
       .col-md-4           
        input#c-phone.form-control(type="text" name="phone"  placeholder="מספר טלפון")
      .row
       .col-md-12
        textarea.form-control(required name="message" id="c-msg" rows="5" placeholder="טקסט חופשי")
      .row
       .col-md-4.col-md-push-8.send-div.alignleft                         
        br
        button#send-btn.btn-submit(style="float:left" type="submit") שלח
      .row
       .col-md-4.col-md-push-8.alignleft.error-message-2  
  .row
   .success-message-2

     .container.text-center
      .row
       hr
       .col-lg-12
        .col-md-3
         ul.nav.nav-pills.nav-stacked
          li
           a(href="#")אושות בונים בית
          li
           a(href="#") מדריך הבניה השלם
        .col-md-3
         ul.nav.nav-pills.nav-stacked
          li
           a(href="#")אושות בונים בית
          li
           a(href="#") מדריך הבניה השלם
        .col-md-3
         ul.nav.nav-pills.nav-stacked
          li
           a(href="#")אושות בונים בית
          li
           a(href="#") מדריך הבניה השלם
        .col-md-3
          .fb-like-box(style="width: 100% !important; " data-href='https://www.facebook.com/bonimbayit', data-width='100%', data-colorscheme='light', data-show-faces='true', data-header='false', data-stream='false', data-show-border='false')
       
      .row
       hr
       .col-lg-12
        
        br
        p כל הזכויות שמורות &#169; 2014
         a.pdr10(href="#")בונים בית 
    