br
br
.container
 hr
 .row.pdt40

  //- right div
  .col-md-4
   .col-sm-12.col-md-12.widget-area#secondary(role="complementary")
    .well
     //- most view articles
     aside.widget
      h3.widget-title יומן הבניה היחיד בישראל.
      .popular-posts-wrapper.pdt10
       for item, i in ['1', '2', '3','1', '2', '3','1', '2']
        .post
         .post-image
          a(href="#") 
           img(height="60" width="60" src="http://placehold.it/60x60" alt="")
         .post-content
          a(href="#") חברים , קל מאוד לחרוג מהתקציב ,תעשו לעצמכם טובה וברגע שהאקסל
     //-  latest articles
     aside.widget
      h3.widget-title  בניית בית - מאמרים אחרונים
      .popular-posts-wrapper
       for item, i in ['1', '2', '3','1', '2', '3','1']
        .post
         .post-image
          a(href="#") 
           img(height="60" width="60" src="http://placehold.it/60x60" alt="")
         .post-content
          a(href="#") חברים , קל מאוד לחרוג מהתקציב ,תעשו לעצמכם טובה וברגע שהאקסל
         
  //- left div
  .col-md-8
   .row.textcenter
    .col-xs-12.col-sm-6
     h4 עלויות מרכזיות יוני 2014(ללא מע״מ)
     table(data-toggle="table" data-url="/data1.json" data-cache="false" data-height="")
      thead
       tr
        th.text-center(data-field="name") מוצר
        th.text-center(data-field="price") עלות
    .col-xs-12.col-sm-6
     h4 כמויות חומרים ממוצעות לבית 200 מטר
     table(data-toggle="table" data-url="/data1.json" data-cache="false" data-height="")
      thead
       tr
        th.text-center(data-field="name") מוצר
        th.text-center(data-field="price") עלות
   .row.textcenter
    .col-xs-12.col-sm-6
     h4 עלויות מרכזיות יוני 2014(ללא מע״מ)
     table(data-toggle="table" data-url="/data1.json" data-cache="false" data-height="")
      thead
       tr
        th.text-center(data-field="name") מוצר
        th.text-center(data-field="price") עלות
    .col-xs-12.col-sm-6
     h4 כמויות חומרים ממוצעות לבית 200 מטר
     table(data-toggle="table" data-url="/data1.json" data-cache="false" data-height="")
      thead
       tr
        th.text-center(data-field="name") מוצר
        th.text-center(data-field="price") עלות
   //- content boexes
   categoriescontent
    .row.pdt40
     .col-xs-12.col-sm-6.col-md-4
      .thumbnail
       img(src="http://placehold.it/600x270" alt="")
       .caption
         h4.text-center בניית שלד 
         p חברים , קל מאוד לחרוג מהתקציב ,תעשו לעצמכם טובה וברגע שהאקסל שלכם סגור תראו בתקציב שלכם תורה מסיני! לא להתפתות כי יהיו לכם הרבה פיתויים בדרך. כאן תראו את  כל הטיפים לעלויות בניה..            
         div.text-center
          a(href="#") לכל המאמרים בנושא חשמל
           i.fa.fa-arrow-left&nbsp;
     .col-xs-12.col-sm-6.col-md-4
      .thumbnail
       img(src="http://placehold.it/600x270" alt="")
       .caption
         h4.text-center בניית שלד 
         p חברים , קל מאוד לחרוג מהתקציב ,תעשו לעצמכם טובה וברגע שהאקסל שלכם סגור תראו בתקציב שלכם תורה מסיני! לא להתפתות כי יהיו לכם הרבה פיתויים בדרך. כאן תראו את  כל הטיפים לעלויות בניה..            
         div.text-center
          a(href="#") לכל המאמרים בנושא חשמל
           i.fa.fa-arrow-left&nbsp;
     .col-xs-12.col-sm-6.col-md-4
      .thumbnail
       img(src="http://placehold.it/600x270" alt="")
       .caption
         h4.text-center בניית שלד 
         p חברים , קל מאוד לחרוג מהתקציב ,תעשו לעצמכם טובה וברגע שהאקסל שלכם סגור תראו בתקציב שלכם תורה מסיני! לא להתפתות כי יהיו לכם הרבה פיתויים בדרך. כאן תראו את  כל הטיפים לעלויות בניה..            
         div.text-center
          a(href="#") לכל המאמרים בנושא חשמל
           i.fa.fa-arrow-left&nbsp;

    .row.pdt40
     .col-xs-12.col-sm-6.col-md-4
      .thumbnail
       img(src="http://placehold.it/600x270" alt="")
       .caption
         h4.text-center בניית שלד 
         p חברים , קל מאוד לחרוג מהתקציב ,תעשו לעצמכם טובה וברגע שהאקסל שלכם סגור תראו בתקציב שלכם תורה מסיני! לא להתפתות כי יהיו לכם הרבה פיתויים בדרך. כאן תראו את  כל הטיפים לעלויות בניה..            
         div.text-center
          a(href="#") לכל המאמרים בנושא חשמל
           i.fa.fa-arrow-left&nbsp;
     .col-xs-12.col-sm-6.col-md-4
      .thumbnail
       img(src="http://placehold.it/600x270" alt="")
       .caption
         h4.text-center בניית שלד 
         p חברים , קל מאוד לחרוג מהתקציב ,תעשו לעצמכם טובה וברגע שהאקסל שלכם סגור תראו בתקציב שלכם תורה מסיני! לא להתפתות כי יהיו לכם הרבה פיתויים בדרך. כאן תראו את  כל הטיפים לעלויות בניה..            
         div.text-center
          a(href="#") לכל המאמרים בנושא חשמל
           i.fa.fa-arrow-left&nbsp;
     .col-xs-12.col-sm-6.col-md-4
      .thumbnail
       img(src="http://placehold.it/600x270" alt="")
       .caption
         h4.text-center בניית שלד 
         p חברים , קל מאוד לחרוג מהתקציב ,תעשו לעצמכם טובה וברגע שהאקסל שלכם סגור תראו בתקציב שלכם תורה מסיני! לא להתפתות כי יהיו לכם הרבה פיתויים בדרך. כאן תראו את  כל הטיפים לעלויות בניה..            
         div.text-center
          a(href="#") לכל המאמרים בנושא חשמל
           i.fa.fa-arrow-left&nbsp;
                    