.container
 nothing_h_h_h_he_he_he
  .sash.row
   .sash-inner.well
    h3
     a(href="")
      font.font-default שאלות אחרונות מקהילת הבונים: 
      i.fa.fa-facebook
    hr 
    for item, i in ["http://api.randomuser.me/portraits/thumb/women/59.jpg","http://api.randomuser.me/portraits/thumb/women/50.jpg","http://api.randomuser.me/portraits/thumb/women/55.jpg",  "http://api.randomuser.me/portraits/thumb/women/56.jpg", "http://api.randomuser.me/portraits/thumb/women/57.jpg","http://api.randomuser.me/portraits/thumb/women/58.jpg"]
     .col-md-2.aligncenter.img-center
      img.aligncenter.circle.img-responsive.text-center(alt="" src=item)
      br
      h4.textcenter שלומי סרנגה - בית הכרם
      br
      p.text-right 
       a.font-default(href="#") חברים , קל מאוד לחרוג מהתקציב ,תעשו לעצמכם טובה וברגע שהאקסל שלכם סגור תראו בתקציב שלכם תורה מסיני! לא להתפתות כי יהיו לכם הרבה פיתויים בדרך
     
   
 .row.pdt40
  //- right div
  .col-md-4
   .col-sm-12.col-md-12.widget-area#secondary(role="complementary")
    .well
     //- most view articles
     aside.widget
      h3.widget-title מאמרי בניה בית חמים
      .popular-posts-wrapper.pdt10
       for item, i in ['1', '2', '3','1', '2', '3','1', '2']
        .post
         .post-image
          a(href="#") 
           img(height="60" width="60" src="http://placehold.it/60x60" alt="")
         .post-content
          a(href="#") חברים , קל מאוד לחרוג מהתקציב ,תעשו לעצמכם טובה וברגע שהאקסל
     //-  latest articles
     aside.widget
      h3.widget-title מאמרי בניית בית אחרונים
      .popular-posts-wrapper
       for item, i in ['1', '2', '3','1', '2', '3','1']
        .post
         .post-image
          a(href="#") 
           img(height="60" width="60" src="http://placehold.it/60x60" alt="")
         .post-content
          a(href="#") חברים , קל מאוד לחרוג מהתקציב ,תעשו לעצמכם טובה וברגע שהאקסל
         
  //- left div
  .col-md-8
   .row.textcenter
    .col-xs-12.col-sm-6
     h4 עלויות מרכזיות יוני 2014(ללא מע״מ)
     table(data-toggle="table" data-url="data1.json" data-cache="false" data-height="")
      thead
       tr
        th.text-center(data-field="name") מוצר
        th.text-center(data-field="price") עלות
    .col-xs-12.col-sm-6
     h4 כמויות חומרים ממוצעות לבית 200 מטר
     table(data-toggle="table" data-url="data1.json" data-cache="false" data-height="")
      thead
       tr
        th.text-center(data-field="name") מוצר
        th.text-center(data-field="price") עלות
   .row.textcenter
    .col-xs-12.col-sm-6
     h4 עלויות מרכזיות יוני 2014(ללא מע״מ)
     table(data-toggle="table" data-url="data1.json" data-cache="false" data-height="")
      thead
       tr
        th.text-center(data-field="name") מוצר
        th.text-center(data-field="price") עלות
    .col-xs-12.col-sm-6
     h4 כמויות חומרים ממוצעות לבית 200 מטר
     table(data-toggle="table" data-url="data1.json" data-cache="false" data-height="")
      thead
       tr
        th.text-center(data-field="name") מוצר
        th.text-center(data-field="price") עלות
   //- content boexes
   categoriescontent
    .row.pdt40
     .col-xs-12.col-sm-6.col-md-4
      .thumbnail
       img(src="http://placehold.it/600x270" alt="")
       .caption
         h4.text-center בניית שלד 
         p חברים , קל מאוד לחרוג מהתקציב ,תעשו לעצמכם טובה וברגע שהאקסל שלכם סגור תראו בתקציב שלכם תורה מסיני! לא להתפתות כי יהיו לכם הרבה פיתויים בדרך. כאן תראו את  כל הטיפים לעלויות בניה..            
         p.text-center
          a(href="#") לכל המאמרים בנושא חשמל
     .col-xs-12.col-sm-6.col-md-4
      .thumbnail
       img(src="http://placehold.it/600x270" alt="")
       .caption
         h4.text-center בניית שלד 
         p חברים , קל מאוד לחרוג מהתקציב ,תעשו לעצמכם טובה וברגע שהאקסל שלכם סגור תראו בתקציב שלכם תורה מסיני! לא להתפתות כי יהיו לכם הרבה פיתויים בדרך. כאן תראו את  כל הטיפים לעלויות בניה..            
         p.text-center
          a(href="#") לכל המאמרים בנושא חשמל
     .col-xs-12.col-sm-6.col-md-4
      .thumbnail
       img(src="http://placehold.it/600x270" alt="")
       .caption
         h4.text-center בניית שלד 
         p חברים , קל מאוד לחרוג מהתקציב ,תעשו לעצמכם טובה וברגע שהאקסל שלכם סגור תראו בתקציב שלכם תורה מסיני! לא להתפתות כי יהיו לכם הרבה פיתויים בדרך. כאן תראו את  כל הטיפים לעלויות בניה..            
         p.text-center
          a(href="#") לכל המאמרים בנושא חשמל

    .row.pdt40
     .col-xs-12.col-sm-6.col-md-4
      .thumbnail
       img(src="http://placehold.it/600x270" alt="")
       .caption
         h4.text-center בניית שלד 
         p חברים , קל מאוד לחרוג מהתקציב ,תעשו לעצמכם טובה וברגע שהאקסל שלכם סגור תראו בתקציב שלכם תורה מסיני! לא להתפתות כי יהיו לכם הרבה פיתויים בדרך. כאן תראו את  כל הטיפים לעלויות בניה..            
         p.text-center
          a(href="#") לכל המאמרים בנושא חשמל
     .col-xs-12.col-sm-6.col-md-4
      .thumbnail
       img(src="http://placehold.it/600x270" alt="")
       .caption
         h4.text-center בניית שלד 
         p חברים , קל מאוד לחרוג מהתקציב ,תעשו לעצמכם טובה וברגע שהאקסל שלכם סגור תראו בתקציב שלכם תורה מסיני! לא להתפתות כי יהיו לכם הרבה פיתויים בדרך. כאן תראו את  כל הטיפים לעלויות בניה..            
         p.text-center
          a(href="#") לכל המאמרים בנושא חשמל
     .col-xs-12.col-sm-6.col-md-4
      .thumbnail
       img(src="http://placehold.it/600x270" alt="")
       .caption
         h4.text-center בניית שלד 
         p חברים , קל מאוד לחרוג מהתקציב ,תעשו לעצמכם טובה וברגע שהאקסל שלכם סגור תראו בתקציב שלכם תורה מסיני! לא להתפתות כי יהיו לכם הרבה פיתויים בדרך. כאן תראו את  כל הטיפים לעלויות בניה..            
         p.text-center
          a(href="#") לכל המאמרים בנושא חשמל
                    