div(tabindex="-1" data-width="760")#howitswork.container.modal.fade.well
  
 .row
  .col-xs-12
   h4.text-center(style="color:#000;(margin:0;)")
    small  איך ההמלצות של הקהילה עובדות עבורך?
     img.pdr10(style="border-radius: 30%;" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/v/t1.0-1/e2/c0.0.50.50/p50x50/1377522_10151885675297427_1177857444_n.jpg?oh=75ee8460629ded29ade9fcea834bd7d9&oe=54E3F92C&__gda__=1424198255_45d3043ff76c065ead54013824eabe0f")
 .row
  .col-xs-12
   h5.text-right(style="color:#000;(margin:0;)") 1. בונים מהקהילה מעבירים לנו קבלנים טובים שעבדו מולם ובנו\שיפצו את ביתם.
   h5.text-right(style="color:#000;(margin:0;)") 2. אנחנו בודקים את ההמלצה שהועברה ופונים לעוד בונים שהעסיקו את הקבלן
   h5.text-right(style="color:#000;(margin:0;)") 3. אנחנו חוקרים את איכות הבניה והשרות של הקבלן גם מול בונים נוספים.
   h5.text-right(style="color:#000;(margin:0;)") 4. קבלנים עם תו איכות והמלצות של הקהילה יעברו אליך לדואל.
   h5.text-right(style="color:#000;(margin:0;)") 5. תוכל\י לפנות לכל ממליץ בדואל ישיר ולשאול שאלות נוספות.
   div
     | לתשומת ליבכם וכחלק מהשקיפות המלאה מולכם. הטלפונים של הקבלנים שנשלחים אליכם למייל מוצמדים עם מספר וירטואלי וזאת כדי למדוד את הזמינות הטלפונית שלהם,קבלן שלא יהיה זמין לנו לקהילת הבונים והמשפצים באחוז גבוה מהזמן הוא לא קבלן שירותי מספיק עבורנו הבונים ולכן הקבלן אינו יומלץ עוד באתר.
   br
   h4(style="color:#000;(margin:0;)").text-left
    small שלכם בכל עת,  תומר חן ריחאנה
   br
 
  button.pdl10.pdt10(type="button" data-dismiss="modal" style="float:left").btn.btn-default
   small X
 
    


  

  
     
    
   
   
   