extends layout	

block css
 link(href="/css/business-frontpage.css" rel="stylesheet")

block content
 header.business-header
  .container
   .row
    .col-xs-12
     h1.tagline קהילת הבונים עוזרת לך להצליח בבניית הבית
     br
   .row
    .col-md-7(style="padding-top:60px;")
     form.bgcolor-white
      .row
       .col-md-6 
        button.btn.btn-search.dropdown-toggle(data-toggle="dropdown") קבל מהקהילה את הקבלנים הטובים ביותר
        ul(role="menu" aria-labelledby="dropdownMenu" style="width:100%").dropdown-menu.text-center
         li
         a.text-right(href="#" tabindex="-1") שלד
         li.divider
         li
         a.text-right(href="#") שלד
         li.divider
         li
         a.text-right(href="#") שלד
         li.divider
         li
         a (href="#") שלד
         li.divider
       .col-md-3
        button.btn.btn-search.dropdown-toggle(data-toggle="dropdown") אזור
         span.caret         
        ul(role="menu" aria-labelledby="dropdownMenu" style="width:100%").dropdown-menu.text-center
         li
         a.text-right(href="#" tabindex="-1") שלד
         li.divider
         li
         a.text-right(href="#") שלד
         li.divider
         li
         a.text-right(href="#") שלד
         li.divider
         li
         a (href="#") שלד
         li.divider                         
       .col-md-3
        button.btn-submit הצג &nbsp;
         i.fa.fa-heart
     
     
      

    .col-md-5
     .row
      .col-md-8.col-lg-10.col-md-offset-1.col-lg-offset-1.visible-md.visible-lg.text-right#testimonials
       include testimonials-front-page
       
  //-  site strongs boxes
 .container
  .row.pdt0(style="margin-top:20px;")
   .col-sm-6.col-md-3
    .dl
     .discount.alizarin בונים מהקהילה ממליצים לך על הקבלנים הטובים ביותר&nbsp;
      .fa.fa-star
     .descr
      div
       strong  ההצלחה שלך תלויה בניסיון של הבונים
      div צפה בהמלצות הקהילה על קבלנים הטובים ביותר בישראל. לא צריך לבזבז זמן על חיפושים.
     .text-left 
      a(href="/reviews/all/all") צפה בהמלצות בונים&nbsp;
       i.fa.fa-arrow-left&nbsp;
   .col-sm-6.col-md-3
    .dl
     .discount.peter-river צוות המומחים עוזרים לך בכל שאלה ותהליך בפייסבוק&nbsp
      .fa.fa-facebook-square
     .descr
      div
       strong אלפי בונים מתייעצים עימנו חינם בפייסבוק ובדואל!
      div אל תהססו לפנות לשאול ולהגיב, ביחד נגשים את החלום. 
     .text-left 
      a(href="https://www.facebook.com/bonimbayit" taget="_blank" title="בונים בית דף הפייסבוק") לדף המומחים בפייסבוק&nbsp;
       i.fa.fa-arrow-left&nbsp;
   .col-sm-6.col-md-3
    .dl
     .discount.emerald עלויות בניה עדכניות מהשטח מעודכנות ע״י הבונים&nbsp;
      i.fa.fa-ils
     .descr
      div
       strong אנו מקבלים עלויות בניה היישר מהבונים בשביל שתדעו יותר!
      div כל רבעיון תוכלו לצפות בעלויות הבניה העדכניות במשק. 
     .text-left 
      a(href="#filecost") עלות בניית בית&nbsp;
       i.fa.fa-arrow-left&nbsp;
   .col-sm-6.col-md-3
    .dl
     .discount.amethyst יומן תהליך הבניה המקיף בישראל עבורך חינם!&nbsp;
      i.fa.fa-book
     .descr
      div
       strong בשעתיים תוכל ללמוד את כל תהליכי הבניה!
      div הידע יקנה לך חסכון בכסף, ניהול נגון של הקבלנים והבנת תהליכי הבניה. 
     .text-left 
      a(href="/blog"  title="בונים בית - יומן הבניה השלם") ליומן הבניה המקיף בישראל &nbsp;
       i.fa.fa-arrow-left&nbsp;

 include file-costs
 include frontpage-content
 
 
 
 
   
 
 
block jsfiles
 script(src="/js/front-page.js")


