extends layout	

block css
 link(href="/css/business-frontpage.css?v=5" rel="stylesheet")

block content
 header.business-header
  .container
   .row
    .col-xs-12
     h3#top.tagline כאן תגלו את כל תהליכי הבנייה לפרטי פרטים והעלויות האמיתיות 
      |לבניית בית פרטי, וגם תקבלו המלצות על קבלנים היישר מהקהילה
     
   .row
    .col-md-7(style="vertical-align: middle")
     form.bgcolor-white
      .row
       .col-md-7.text-center
        button#profession_selector.btn.btn-search.dropdown-toggle(data-toggle="dropdown" style="")איזה קבלן שהומלץ ע"י הקהילה את\ה מחפש\ת?
         i.fa.fa-caret-down(style="padding-right:3px")
        ul(role="menu" aria-labelledby="dropdownMenu" style="width:98%;height:400px;").dropdown-menu.text-center.scrollable-menu
         each contractor_type, i in contractor_types
          li
          a#a_profession.a_profession.text-right(href="#" tabindex="-1")=contractor_type.id
          li.divider
         
         li.divider
         
         
       .col-md-2
        button#area_selector.btn.btn-search.dropdown-toggle(data-toggle="dropdown" )באזור
         i.fa.fa-caret-down(style="padding-right:1px")
        ul(role="menu" aria-labelledby="dropdownMenu" style="width:98%;height:400px").dropdown-menu.text-center.scrollable-menu
         li
          div.area_divider אזור צפון
         li.divider 
         li
         a#a_area1.text-right.a_area(href="#" tabindex="-1" data-toggle="modal" ) חיפה וחוף הכרמל
         li.divider
         li
         a#a_area2.a_area.text-right(href="#" data-toggle="modal" ) קריות
         li.divider
         li
         a#a_area3.a_area.text-right(href="#" data-toggle="modal" ) עכו - נהריה
         li.divider
         li
         a#a_area4.a_area.text-right(href="#" data-toggle="modal" ) גליל ועמקים
         li.divider  
         li
         a#a_area5.a_area.text-right(href="#" data-toggle="modal" ) טבריה והסביבה
         li.divider  
         a#a_area6.a_area(href="#" data-toggle="modal" ) עמק יזרעאל
         li.divider  
         a#a_area7.a_area(href="#" data-toggle="modal" ) כרמיאל והסביבה
         li.divider  
         a#a_area8.a_area(href="#" data-toggle="modal" ) מושבים בצפון
         li.divider
         li
          div.area_divider אזור השרון והסביבה
         li.divider 
         a#a_area9.a_area(href="#" data-toggle="modal" ) זכרון - בנימינה
         li.divider  
         a#a_area9.a_area(href="#" data-toggle="modal" ) חדרה וישובי עמק חפר
         li.divider  
         a#a_area10.a_area(href="#" data-toggle="modal" ) פרדס חנה - כרכור
         li.divider  
         a#a_area11.a_area(href="#" data-toggle="modal" ) יישובי השומרון
         li.divider  
         a#a_area12.a_area(href="#" data-toggle="modal" ) נתניה והסביבה
         li.divider  
         a#a_area12.a_area(href="#" data-toggle="modal" ) קיסריה והסביבה
         li.divider  
         a#a_area14.a_area(href="#" data-toggle="modal" ) רמת השרון - הרצליה
         li.divider  
         a#a_area15.a_area(href="#" data-toggle="modal" ) רעננה - כפר סבא
         li.divider  
         a#a_area16.a_area(href="#" data-toggle="modal" ) הוד השרון והסביבה
         li.divider  
         a#a_area17.a_area(href="#" data-toggle="modal" ) מושבים בשרון
         li.divider  
         li
          div.area_divider אזור המרכז
         li.divider 
         a#a_area18.a_area(href="#" data-toggle="modal" ) תל אביב
         li.divider  
         a#a_area19.a_area(href="#" data-toggle="modal" ) ראשלצ והסביבה
         li.divider  
         a#a_area20.a_area(href="#" data-toggle="modal" ) חולון - בת ים
         li.divider  
         a#a_area21.a_area(href="#" data-toggle="modal" ) רמת גן - גבעתיים
         li.divider  
         a#a_area22.a_area(href="#" data-toggle="modal" ) פתח תקוה והסביבה
         li.divider  
         a#a_area23.a_area(href="#" data-toggle="modal" ) ראש העין והסביבה
         li.divider  
         a#a_area24.a_area(href="#" data-toggle="modal" ) בקעת אונו
         li.divider  
         a#a_area25.a_area(href="#" data-toggle="modal" ) מושבים במרכז
         li.divider 
         li
          div.area_divider אזור ירושלים
         li.divider  
         a#a_area26.a_area(href="#" data-toggle="modal" ) ירושלים
         li.divider  
         a#a_area27.a_area(href="#" data-toggle="modal" ) מודיעין והסביבה
         li.divider  
         a#a_area28.a_area(href="#" data-toggle="modal" ) בית שמש והסביבה
         li.divider  
         a#a_area29.a_area(href="#" data-toggle="modal" ) מושבים באזור ירושלים
         li.divider  
         li
          div.area_divider  אזור השפלה והסביבה
         li.divider 
         a#a_area30.a_area(href="#" data-toggle="modal" ) נס ציונה - רחובות
         li.divider  
         a#a_area31.a_area(href="#" data-toggle="modal" ) אשדוד - אשקלון
         li.divider  
         a#a_area32.a_area(href="#" data-toggle="modal" ) רמלה - לוד
         li.divider  
         a#a_area33.a_area(href="#" data-toggle="modal" ) גדרה יבנה והסביבה
         li.divider  
         a#a_area34.a_area(href="#" data-toggle="modal" ) מושבים בשפלה
         li.divider  
         li
          div.area_divider  אזור דרום
         li.divider 
         a#a_area35.a_area(href="#" data-toggle="modal" ) באר שבע והסביבה
         li.divider  
         a#a_area36.a_area(href="#" data-toggle="modal" ) אילת והערבה
         li.divider  
         a#a_area38.a_area(href="#" data-toggle="modal" ) מושבים בדרום
         li.divider  

       .col-md-3
        button#btn_search_submit(data-toggle="modal" href="#signin" style="text-shadow: 0 0 1px #000;padding-right:3px" ).btn-submit קבל המלצה &nbsp;
         i.fa.fa-heart
      
     .row.visible-lg.visible-md
      .col-md-12 
       br
       div.pink-color קבלן שלד, קבלן גמר, גגן או אדריכל, 
        a.pink-color(href="#howitswork" tabindex="-1" data-toggle="modal")
         u איך עובדות ההמלצות מהקהילה עבורך?
      
    .col-md-5
     .row
      .col-md-8.col-lg-10.col-md-offset-1.col-lg-offset-1.visible-md.visible-lg.text-right#testimonials
       include testimonials-front-page
   

 br
  

 .container
  div.row
   div.col-md-3
    div.box
      div.box-gray.textcenter
        h4 איך בונים בית פרטי?
        div.icon
          i.fa.fa-home.fa-3x
        div כל תהליכי הבנייה לפרטי פרטים כולל סרטונים וטיפים , ללא צורך בהשקעה בקורס יקר! כולל תמיכה מהמומחים שלנו
      div.box-bottom
        a(href='/blog') איך בונים בית פרטי - יומן הבניה השלם
         i.fa.fa-arrow-left.pdr10
   div.col-md-3
    div.box
      div.box-gray.textcenter
        h4 כמה עולה לבנות בית?
        div.icon
         i.fa.fa-ils.fa-3x
        div כאן תגלו את כל העלויות האמיתיות לבניית בית פרטי, וגם תקבלו את דוח עלויות בניית בית פרטי וגם גאנט בנייה.
      div.box-bottom
        a(href='/blog/tag/%60lvyvt-bnyyh/' title="כמה עולה לבנות בית פרטי") כמה עולה לבנות בית פרטי
         i.fa.fa-arrow-left.pdr10
 

 
   div.col-md-3
    div.box
      div.box-gray.textcenter
        h4 טיפים לבניית בית
        div.icon
         i.fa.fa-edit.fa-3x
        div סרטוני וידאו, טיפים חשובים לבנייה וכל הידע שדרוש לבניית בית פרטי עם טיפים מרוכזים עבורך.
      div.box-bottom
       a(href="/blog/tag/typym/" title="בניית בית פרטי - טיפים מועילים") טיפים לבניית בית פרטי
        i.fa.fa-arrow-left.pdr10
   div.col-md-3
    div.box
      div.box-gray.textcenter
        h4 זקוקים לעזרה? שאלה?
        div.icon
          i.fa.fa-heart.fa-3x
        div אנחנו עונים לשאלות של עשרות בונים מדי יום. תוכלו לפנות בתחתית כל דף בפניה ישירה או בדף הפייסבוק שלנו
      div.box-bottom
        a(href="https://www.facebook.com/bonimbayit" target="_blank" title="בונים בית דף הפייסבוק") בניית בית פרטי בפייסבוק 
         i.fa.fa-arrow-left.pdr10
   

 
 include frontpage-content
 br
 include file-costs
 
 
 
 
   
 
 
block jsfiles
 script(src="/js/front-page.js?v=5")
 script(src="/js/jquery.newsTicker.min.js")
 


