extends layout	

block css
 link(href="/css/business-frontpage.css" rel="stylesheet")

block content
 header.business-header
  .container
   .row
    .col-xs-12
     h1.tagline בונים בית עם קבלנים שהומלצו ע״י קהילת הבונים
     br
   .row
    .col-md-7
     form.bgcolor-white
      .row
       .col-md-6 
        button.btn.btn-search.dropdown-toggle(data-toggle="dropdown") על איזה קבלן תרצה לקבל המלצות? 
         span.caret
        ul(role="menu" aria-labelledby="dropdownMenu" style="width:100%").dropdown-menu.text-center
         li
         a.text-right(href="#" tabindex="-1") שלד
         li.divider
         li
         a.text-right(href="#") שלד
         li.divider
         li
         a.text-right(href="#") שלד
         li.divider
         li
         a (href="#") שלד
         li.divider
       .col-md-3
        button.btn.btn-search.dropdown-toggle(data-toggle="dropdown") אזור
         span.caret         
        ul(role="menu" aria-labelledby="dropdownMenu" style="width:100%").dropdown-menu.text-center
         li
         a.text-right(href="#" tabindex="-1") שלד
         li.divider
         li
         a.text-right(href="#") שלד
         li.divider
         li
         a.text-right(href="#") שלד
         li.divider
         li
         a (href="#") שלד
         li.divider                         
       .col-md-3
        button.btn-submit קבל המלצות 
         i.fa.fa-heart
     
     h5.tagline.visible-lg.visible-md.pdt10
      i(style="width:250px;font-size:16px;").background-default.fa.fa-star.fa-1x.pdt10.pdb10.pdr10.pdl10
       span.background-default.boldy.pdr10.pink-color להגיע לקבלנים דרך המלצה
     h5.tagline.visible-lg.visible-md
      i(style="width:250px;font-size:16px;").fa.fa-ils.fa-1x.pdt10.background-default.pdb10.pdr10.pdl10
       span.background-default.boldy.pdr10.pink-color לא עושים טעיויות בבניה
     h5.tagline.visible-lg.visible-md
      i(style="width:250px;font-size:16px;").fa.fa-clock-o.fa-1x.pdt10.background-default.pdb10.pdr10.pdl10
       span.background-default.boldy.pdr10 חוסכים זמן יקר ונהנים
      

    .col-md-5
     .row
      .col-md-8.col-lg-10.col-md-offset-1.col-lg-offset-1.visible-md.visible-lg.text-right#testimonials
       include testimonials-front-page
       
  //-  site strongs boxes
 .container
  .row
   .col-sm-6.col-md-3
    .dl
     .discount.alizarin יומן הבניה המקיף בישראל&nbsp;
      .fa.fa-book
     .descr
      div
       strong ריכזנו עבורך את כל עלויות הבניה עם יומן הבניה המקיף בישראל!
      div עלויות שלד ,ברזל,בטון,ריצוף,טיח ושאר עלויות הבנייה. 
     .text-left 
      a(href="/blog") ליומן הבניה המלא&nbsp;
       i.fa.fa-arrow-left&nbsp;
   .col-sm-6.col-md-3
    .dl
     .discount.amethyst עלות בניה וקבלנים&nbsp
      .fa.fa-ils
     .descr
      div
       strong ריכזנו עבורך את כל עלויות הבניה עם יומן הבניה המקיף בישראל!
      div עלויות שלד ,ברזל,בטון,ריצוף,טיח ושאר עלויות הבנייה. 
     .text-left 
      a(href="/") כל עלויות הבניה&nbsp;
       i.fa.fa-arrow-left&nbsp;
   .col-sm-6.col-md-3
    .dl
     .discount.emerald קבלנים מומלצי ע״י הקהילה&nbsp;
      .fa.fa-star
     .descr
      div
       strong ריכזנו עבורך את כל עלויות הבניה עם יומן הבניה המקיף בישראל!
      div עלויות שלד ,ברזל,בטון,ריצוף,טיח ושאר עלויות הבנייה. 
     .text-left 
      a(href="/") חפש קבלנים מומלצים&nbsp;
       i.fa.fa-arrow-left&nbsp;
   .col-sm-6.col-md-3
    .dl
     .discount.peter-river 
      צוות מומחים לכל שאלה ב&nbsp;
      i.fa.fa-facebook-square
     .descr
      div
       strong ריכזנו עבורך את כל עלויות הבניה עם יומן הבניה המקיף בישראל!
      div עלויות שלד ,ברזל,בטון,ריצוף,טיח ושאר עלויות הבנייה. 
     .text-left 
      a(href="https://www.facebook.com/bonimbayit") צוות המומחים בפייסבוק &nbsp;
       i.fa.fa-arrow-left&nbsp;

 include file-costs
 include frontpage-content
 
 
block jsfiles
 script(src="/js/front-page.js")


