extends layout	

block css
 link(href="/css/business-frontpage.css" rel="stylesheet")

block content
 header.business-header
  .container
   .row
    .col-xs-12
     h1.tagline קהילת הבונים עוזרת לך להצליח בבניית הבית
     br
   .row
    .col-md-7(style="vertical-align: middle")
     form.bgcolor-white
      .row
       .col-md-7
        button#profession_selector.btn.btn-search.dropdown-toggle(data-toggle="dropdown" style="") איזה קבלן שהומלץ ע״י הקהילה אתה מחפש\ת?
         i.fa.fa-caret-down(style="padding-right:3px")
        ul(role="menu" aria-labelledby="dropdownMenu" style="width:100%").dropdown-menu.text-center
         li
         a#a_profession1.a_profession.text-right(href="#" tabindex="-1") אינסטלציה
         li.divider
         li
         a#a_profession2.a_profession.text-right(href="#") חשמל
         li.divider
         li
         a#a_profession2.a_profession.text-right(href="#") קבלן מפתח
         li.divider
         li
         a#a_profession3.a_profession.text-right(href="#") שלד
         li.divider
         li
         a#a_profession4.a_profession.text-right(href="#") גבס
         li.divider
         li
         a#a_profession5.a_profession.text-right(href="#") טיח
         li.divider
         li
         a#a_profession6.a_profession.text-right(href="#") גמר
         li.divider
         li
         a#a_profession7.a_profession.text-right(href="#") יבוא מסין
         li.divider
         li
         a#a_profession8.a_profession.text-right(href="#") עפר
         li.divider
         li
         a#a_profession9.a_profession.text-right(href="#") מפקח
         li.divider
         li
         a#a_profession12.a_profession.text-right(href="#") קידוח
         li.divider
         li
         a#a_profession13.a_profession.text-right(href="#") מיזוג אוויר
         li.divider
         li
         a#a_profession14.a_profession.text-right(href="#") מהנדס בניין
         li.divider
         li
         a#a_profession15.a_profession.text-right(href="#") ריצוף
         li.divider
         li
         a#a_profession16.a_profession.text-right(href="#") צבע
         li.divider
         li
         a#a_profession17.a_profession.text-right(href="#") בניה קלה
         li.divider
         a#a_profession18.a_profession.text-right(href="#") אדריכל
         li.divider
         a#a_profession19.a_profession.text-right(href="#") יועץ קרקע
         li.divider
       .col-md-2
        button#area_selector.btn.btn-search.dropdown-toggle(data-toggle="dropdown" ) באזור
         i.fa.fa-caret-down(style="padding-right:2px")
        ul(role="menu" aria-labelledby="dropdownMenu").dropdown-menu.text-center
         li
         a#a_area1.text-right.a_area(href="#" tabindex="-1" data-toggle="modal" ) צפון
         li.divider
         li
         a#a_area2.a_area.text-right(href="#" data-toggle="modal" ) מרכז
         li.divider
         li
         a#a_area3.a_area.text-right(href="#" data-toggle="modal" ) שפלה
         li.divider
         li
         a#a_area4.a_area.text-right(href="#" data-toggle="modal" ) השרון
         li.divider  
         li
         a#a_area5.a_area.text-right(href="#" data-toggle="modal" ) דרום
         li.divider  
         a#a_area6.a_area(href="#" data-toggle="modal" ) כל הארץ
         li.divider  

       .col-md-3
        button(data-toggle="modal" href="#signin" style="text-shadow: 0 0 1px #000;padding-right:3px;" ).btn-submit קבל המלצה &nbsp;
         i.fa.fa-heart
     
     
     //-div
     //- i.fa.fa-arrow-up.fa-5x(style="float:left;color:#f1c40f;").pdt10.visible-lg
      

    .col-md-5
     .row
      .col-md-8.col-lg-10.col-md-offset-1.col-lg-offset-1.visible-md.visible-lg.text-right#testimonials
       include testimonials-front-page
 br

 .container
  div.row
   div.col-md-3
    div.box
      div.box-gray.textcenter
        h4 כל תהליכי הבניה
        div.icon
          i.fa.fa-home.fa-3x
        div בשעתיים תוכל ללמוד את כל תהליכי הבניה, יומן הבניה היחיד בישראל, ללא צורך בהשקעה בקורס יקר!
      div.box-bottom
        a(href='/blog') עבור ליומן הבניה השלם
         i.fa.fa-arrow-left&nbsp;
   div.col-md-3
    div.box
      div.box-gray.textcenter
        h4 כל עלויות בניית בית
        div.icon
          i.fa.fa-edit.fa-3x
        div אנחנו מקבלים עלויות בניה היישר מהבונים, כל רבעון תוכלו לצפות בעלויות הבניה העדכניות במשק.
      div.box-bottom
        a(href='#filecost') עלות בניית בית
         i.fa.fa-arrow-left&nbsp;
 

 
   div.col-md-3
    div.box
      div.box-gray.textcenter
        h4 המלצות מהקהילה
        div.icon
          i.fa.fa-heart.fa-3x
        div בונים מהקהילה ממליצים לך על הקבלנים הטובים ביותר בשביל שתוכל לבנות בהצלחה את הבית שלך 
      div.box-bottom
       a(href="#signin" data-toggle="modal") צפה בהמלצות בונים&nbsp;
        i.fa.fa-arrow-left&nbsp;
   div.col-md-3
    div.box
      div.box-gray.textcenter
        h4 צוות מומחים לעזרתך
        div.icon
          i.fa.fa-facebook-square.fa-3x
        div אלפי בונים מתייעצים עימנו חינם בפייסבוק ובדואל! אל תהססו לפנות לשאול ולהגיב, ביחד נגשים את החלום.
      div.box-bottom
        a(href="https://www.facebook.com/bonimbayit" taget="_blank" title="בונים בית דף הפייסבוק") לדף המומחים בפייסבוק 
         i.fa.fa-arrow-left&nbsp;
   

 
 include frontpage-content
 br
 include file-costs
 
 
 
 
   
 
 
block jsfiles
 script(src="/js/front-page.js")


