extends layout	

block css
 link(href="/css/business-frontpage.css" rel="stylesheet")

block content
 header.business-header
  .container
   .row
    .col-xs-12
     h1.tagline קהילת הבונים עוזרת לך להצליח בבניית הבית
     br
   .row
    .col-md-7(style="padding-top:60px;")
     form.bgcolor-white
      .row
       .col-md-6 
        div(style="padding-top:15px;color:red;text-shadow: 0 0 1px #000;").btn.btn-search צפה בהמלצות הקהילה על קבלנים:
        ul(role="menu" aria-labelledby="dropdownMenu" style="width:100%").dropdown-menu.text-center
         li
         a.text-right(href="#" tabindex="-1") שלד
         li.divider
         li
         a.text-right(href="#") שלד
         li.divider
         li
         a.text-right(href="#") שלד
         li.divider
         li
         a (href="#") שלד
         li.divider
       .col-md-3
        button.btn.btn-search.dropdown-toggle(data-toggle="dropdown" style="color:red;text-shadow: 0 0 1px #000;") באזור
         span.caret         
        ul(role="menu" aria-labelledby="dropdownMenu" style="width:100%").dropdown-menu.text-center
         li
         a.text-right(href="#signin" tabindex="-1" data-toggle="modal" style="text-shadow: 0 0 1px #000;color:red;font-size:18px;") צפון
         li.divider
         li
         a.text-right(href="#signin" data-toggle="modal" style="text-shadow: 0 0 1px #000;color:red;font-size:18px;") מרכז
         li.divider
         li
         a.text-right(href="#signin" data-toggle="modal" style="text-shadow: 0 0 1px #000;color:red;font-size:18px;") שפלה
         li.divider
         li
         a.text-right(href="#signin" data-toggle="modal" style="text-shadow: 0 0 1px #000;color:red;font-size:18px;") דרום
         li.divider  
         a(href="#signin" data-toggle="modal" style="text-shadow: 0 0 1px #000;color:red;font-size:18px;") המלצות מכל האזורים
         li.divider                         
       .col-md-3
        button(data-toggle="modal" href="#signin" style="text-shadow: 0 0 1px #000;" ).btn-submit הצג &nbsp;
         i.fa.fa-heart
     
     
      

    .col-md-5
     .row
      .col-md-8.col-lg-10.col-md-offset-1.col-lg-offset-1.visible-md.visible-lg.text-right#testimonials
       include testimonials-front-page
 br

 .container
  div.row
  div.col-md-3
    div.box
      div.box-gray.textcenter
        h4 המלצות מהקהילה
        div.icon
          i.fa.fa-heart.fa-3x
        div בונים מהקהילה ממליצים לך על הקבלנים הטובים ביותר בשביל שתוכל לבנות בהצלחה את הבית שלך 
      div.box-bottom
       a(href="/reviews/all/all") צפה בהמלצות בונים&nbsp;
        i.fa.fa-arrow-left&nbsp;
  div.col-md-3
    div.box
      div.box-gray.textcenter
        h4 צוות מומחים לעזרתך
        div.icon
          i.fa.fa-facebook-square.fa-3x
        div אלפי בונים מתייעצים עימנו חינם בפייסבוק ובדואל! אל תהססו לפנות לשאול ולהגיב, ביחד נגשים את החלום.
      div.box-bottom
        a(href="https://www.facebook.com/bonimbayit" taget="_blank" title="בונים בית דף הפייסבוק") לדף המומחים בפייסבוק 
         i.fa.fa-arrow-left&nbsp;
  div.col-md-3
    div.box
      div.box-gray.textcenter
        h4 כל עלויות בניית בית
        div.icon
          i.fa.fa-edit.fa-3x
        div אנחנו מקבלים עלויות בניה היישר מהבונים, כל רבעון תוכלו לצפות בעלויות הבניה העדכניות במשק.
      div.box-bottom
        a(href='#filecost') עלות בניית בית
         i.fa.fa-arrow-left&nbsp;
  div.col-md-3
    div.box
      div.box-gray.textcenter
        h4 כל תהליכי הבניה
        div.icon
          i.fa.fa-home.fa-3x
        div בשעתיים תוכל ללמוד את כל תהליכי הבניה, יומן הבניה היחיד בישראל, ללא צורך בהשקעה בקורס יקר!
      div.box-bottom
        a(href='#') עבור ליומן הבניה השלם
         i.fa.fa-arrow-left&nbsp;

 

 
 include frontpage-content
 br
 include file-costs
 
 
 
 
   
 
 
block jsfiles
 script(src="/js/front-page.js")


