doctype html
html(lang="he")
  head
    title= title
    meta(charset='utf-8')
    meta(ttp-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='בונים בית|תגלו לפרטי פרטים את כל תהליכי הבנייה והעלויות האמיתיות לבניית הבית שלכם כולל המלצות על קבלנים')
    meta(name='author', content='בונים בית')
    meta(content='heYNdq8K3Gh3KbplVevs1_VCauayRUGO6fodmFuwL7I' name='google-site-verification')
    link(href='/favicon.ico' rel='icon' type='image/x-icon')

    include cssfiles
    block css
    //- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries 
    //- WARNING: Respond.js doesn't work if you view the page via file:// 
    //[if lt IE 9]
    script(src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.2.0/respond.js")
    //[endif]
    
     


  body 
    script(src='/js/analytics.js')
    .fb-root
    include navbar
    block content
    include footer     
    block footer
    include login_modal
    include fb_like_modal
    include signin_modal
    include jsfiles
    block jsfiles


    








