div(tabindex="-1" data-width="760")#responsive.container.modal.fade
 .page-header
  h1.textcenter.font-default בונים בית עם ידע 
   i.social_icon.fa.fa-heart 
 //- Login with Social Buttons
 form.col-md-12
  .row.text-center
   .col-md-4.col-sm-12
    button.btn.btn-primary.btn-block פייסבוק     
   .col-md-4.col-sm-12
    button.btn.btn-info.btn-block טוויטר       
   .col-md-4.col-sm-12
    button.btn.btn-danger.btn-block גוגל פלוס

  hr   

  .form-group
   input(type="text" placeholder="דוא״ל").form-control.input-lg
  .form-group
   input(type="password" placeholder="סיסמה").form-control.input-lg
  .form-group
   input(type="password" placeholder="חזור על הסיסמה").form-control.input-lg
  .modal-footer.float-left
    button(type="button" data-dismiss="modal").btn.btn-default סגור
    button(type="button" data-dismiss="modal").btn.btn-primary התחבר
 
    


  

  
     
    
   
   
   