div(tabindex="-1" data-width="760")#signin.container.modal.fade
 .page-header
  button(type="button" data-dismiss="modal").btn.btn-default X
  h3.textcenter.font-default.pdt20 שניה אנחנו עוד לא מוכנים 
   i.social_icon.fa.fa-wrench.fa-3x.pdr10 
 //- Login with Social Buttons
 form.col-md-12
  .row
   .col-xs-12
    h4 אנחנו עובדים במרץ יום ולילה בשביל לאסוף מקהילת הבונים את את כל ההמלצות על קבלנים הכי טובים בישראל ישר מהשטח, בנתיים תוכל להשאיר את הדואל שלך בכדי שנוכל להודיע לך על כך שההמלצות מוכנות עבורך, וגם ממש עכשיו נשלח לך לדואל את דוח עלויות הבניה המעודכן לשנת 2014. אז בוא תצטרף לקהילת הבונים. הכנס דוא״ל

  hr   
  form
   .form-group
    input(type="text" placeholder="דוא״ל" required).form-control.input-lg
   .modal-footer.float-left
    button.btn-submit(type="submit").btn.btn-primary קבל את דוח עלויות הבניה 2014
 
    


  

  
     
    
   
   
   