div(tabindex="-1" data-width="760")#signin.container.modal.fade
 .page-header
  button(type="button" data-dismiss="modal").btn.btn-default X
  h3.textcenter.font-default.pdt20 שניה אנחנו עוד לא מוכנים 
   i.social_icon.fa.fa-wrench.fa-3x.pdr10 
 
 .row
  .col-xs-12
   h4.well אנחנו עובדים במרץ יום ולילה בשביל לאסוף מקהילת הבונים את את כל ההמלצות על קבלנים הכי טובים בישראל ישר מהשטח, בנתיים תוכל להשאיר את הדואל שלך בכדי שנוכל להודיע לך על כך שההמלצות מוכנות עבורך, וגם ממש עכשיו נשלח לך לדואל את דוח עלויות הבניה המעודכן לשנת 2014. אז בוא תצטרף לקהילת הבונים. הכנס דוא״ל

 hr   
 form(id="mc-form")
  .form-group.pdr10.pdl10
   input( dir="rtl" onkeypress="this.dir='ltr'" placeholder="הכנס דואר אלקטרוני" required id="mc-email" type="email" ).form-control.input-lg
   label(for="mc-email")
  .modal-footer
   button.btn-submit.btn.btn-primary(type="submit") קבל את דוח עלויות הבניה 2014
 
    


  

  
     
    
   
   
   