div(tabindex="-1" data-width="760")#signin.container.modal.fade.well
 .page-header
  button(type="button" data-dismiss="modal").btn.btn-default
   small X
  h5.textcenter.font-default.pdt0 לתשומת לבך
   i.social_icon.fa.fa-heart.fa-1x.pdr10 
 
 .row
  .col-xs-12
   h5.text-center.pdt10 דף האינטרנט בשלבי עדכון סופיים, בשלב זה אוכל לשלוח ישירות לכתובת המייל שלך את ההמלצות שברשותי, וגם אשלח לך את דוח עלויות הבניה וגאנט הבניה.
   h5.text-center(style="color:#000;(margin:0;)")
    small לשירותך תמיד ותודה מראש, מנהל הבלוג וקהילת הבונים בישראל, תומר חן
     img.pdr10(style="border-radius: 30%;" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/v/t1.0-1/e2/c0.0.50.50/p50x50/1377522_10151885675297427_1177857444_n.jpg?oh=75ee8460629ded29ade9fcea834bd7d9&oe=54E3F92C&__gda__=1424198255_45d3043ff76c065ead54013824eabe0f")
     
   
 form(id="mc-form")
  .form-group.pdr10.pdl10
   input( dir="rtl" onkeypress="this.dir='ltr'" placeholder="הכנס דואר אלקטרוני" required id="mc-email" type="email" ).form-control.input-lg
   input( dir="rtl"  placeholder="שם פרטי ומשפחה" required id="name" name="name" ).form-control.input-lg
   input.hide( dir="rtl"  required id="MMERGE1"  name="MMERGE1"  value="כל האזורים").form-control 
   input.hide( dir="rtl"  required id="MMERGE2"  name="MMERGE2"  value="כל הקבלנים").form-control 
   input.hide( dir="rtl"  required id="message"  name="message" ).form-control
   input.hide( dir="rtl"  required id="subject"  name="subject" value="פניה בנושא קבלן מ").form-control
   
   label(for="mc-email")
  .modal-footer
   button#mc-submit.btn-submit.btn.btn-primary(type="submit") קבל את דוח עלויות הבניה 2014
 
    


  

  
     
    
   
   
   