div#div_testimonials(style="display:none;")
 ul
  li 
   testimonials תודה תומר על התמיכה והייעוץ שנתת לי בכל שאלה ועם המון אהבה , כל הכבוד!!! כן יירבו כמוך...אתר מדהים!!!
    p.author צחי ספיר
     img.circle(height="50" width="50" src="/img/testimonials/167288_10150096882033728_2631218_n.jpg" alt="ממליצים על בונים בית - עלויות בנית בית")
  li 
   testimonials אז מתברר שיש אנשים טובים ומיוחדים בעולם... תומר - רק רציתי להגיד תודה על העזרה והתמיכה שאתה נותן לי ואני בטוח שגם לבונים נוספים. ולמי שבונה זה הקישור הכי חשוב שיהיה לו במועדפים!!!
    p.author סער סעיד 
     span
      img.circle(height="50" width="50" src="/img/testimonials/10359320_330939700390377_6050180842584609422_n.jpg" alt="סער סעד המלצה על אתר בונים בית - עלויות בניית בית פרטי")
  li 
   testimonials למרות שאני מחשיב את עצמי כאחד שמבין למדתי המון מהאתר הנפלא שלך! כל הכבוד! תודה על התמיכה והביקור שלך במהלך הבניה.
    p.author דוד דוידי
     span
      img.circle(height="50" width="50" src="/img/testimonials/david.jpg" alt="דוד דוידי ממליץ על אתר בונים בית - כל עלויות הבניה")
  li 
   testimonials תודה תומר! אתר מדהים! תודה על כל המידע המקיף והיכולת לשתף את החוויות עבור בונים אחרים , אין ספק שהאתר עוד יעזור רבות לכל מי שבונה.
    p.author ברק זוארץ
     span
      img.circle(height="50" width="50" src="/img/testimonials/1235242_10202051260782001_1567310012_n.jpg" alt="ברק זוארץ ממליץ על בניית בית פרטי")

 div
  small
   a(href="/blog/thanks" title="מכתבי תודה בניית בית - אתר בונים בית" style="color:#f0f0f0;text-decoration:underline") עוד המלצות מהקהילה
    i.fa.fa-arrow-left
