div#div_testimonials(style="display:none") 
 h5.text-center.pdr10.font-white - יומן הבנייה המקיף בישראל -
 ul#newsticker
  each post , i in posts
   li
    div.text-right
     a(href="/blog/#{post.slug}") 
      small #{post.title}
    hr
  