div#div_testimonials(style="display:none") 
 h5.text-center.font-white יומן הבנייה המקיף בישראל:
 ul#newsticker
  each post , i in posts
   li
    div
     a(href="{post.slug}") 
      span #{post.title}
       small.pdr10(style="color:#f0f0f0") המשך לקרוא >>
    hr
  