br
.container
 hr
 .row.pdt0.text-center
  .col-md-12
   h3 מה הבונים מהקהילה אומרים עלינו?
 
 .row.pdt20.text-center
  .col-md-3
   img(src="/img/testimonials/david.jpg" class="people-big")
   div.pdt20 דוד דוידי
    div.pdl10
     small
      i למרות שאני מחשיב את עצמי כאחד שמבין למדתי המון מהאתר הנפלא שלך! כל הכבוד! תודה על התמיכה והביקור שלך במהלך הבניה.
  .col-md-3
   img(src="/img/testimonials/barak_z.jpg" class="people-big")
   div.pdt20 ברק זוארץ
    div.pdl10
     small
      i תודה תומר! אתר מדהים! תודה על כל המידע המקיף והיכולת לשתף את החוויות עבור בונים אחרים , אין ספק שהאתר עוד יעזור רבות לכל מי שבונה.

  .col-md-3
   img(src="/img/testimonials/1146770_10151756474610816_699474653_o.jpg" class="people-big")
   div.pdt20 שאול זיו
    div.pdl10
     small
      i לאחר שסיימתי את ביתי ,רק רוצה לומר תודה מיוחדת לך תומר על העזרה ,הקבלנים המעולים ,התמיכה ולאתר המדהים שלך!!!
  .col-md-3
   img(src="/img/testimonials/10359320_330939700390377_6050180842584609422_n.jpg" class="people-big")
   div.pdt20 סער סעד
    div.pdl10
     small
      i תומר - רק רציתי להגיד תודה על העזרה והתמיכה שאתה נותן לי ואני בטוח שגם לבונים נוספים. ולמי שבונה זה הקישור הכי חשוב שיהיה לו במועדפים!!!
     