doctype html
html(lang="he" dir="rtl")
head
body(style="text-align:right; direction:rtl;")
 div הי #{name.split(' ')[0]}, מה שלומך?
 br
 div הקהילה המליצה על קבלנים מעולים באזורך אך לצערי עדיין לא סיימתי את כל הבדיקות שלי עליהם .יש לי כמה קבלנים שאני בודק כרגע, אשלח לך אותם בימים הקרובים,
   |בכל מקרה אשמח אם במהלך הבנייה תמליצו באתר עבור קהילת הבונים והמשפצים על קבלנים מצוינים שעבדתם איתם. 
   |אני כאן לכל שאלה וייעוץ לגבי הבניה שלך.
   

 br
 div תודה, תומר חן
 div בונים בית 
 div
  a(href="http://bonimbayit.co.il") bonimbayit.co.il



